.blurPanel {
  z-index: -1;
  position: absolute;
  inset-inline-start: -100lvw;
  inset-block-start: -100lvh;
  width: 300lvw;
  height: 300lvh;
  background-color: hsl(var(--background-hsl) / 0.5);
  backdrop-filter: blur(300px);
}

.floatingCircle {
  z-index: -1;
  position: absolute;
  inset-inline-start: 10lvw;
  inset-block-start: 10lvh;
  width: 20rem;
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
  background-color: hsl(var(--primary-hsl));
  overflow: hidden;

  animation: edge-walk 30s ease-in-out 5s infinite;
}

@keyframes edge-walk {
  0% {
    inset-inline-start: 10lvw;
    inset-block-start: 10lvh;
  }
  20% {
    inset-inline-start: 75lvw;
    inset-block-start: 10lvh;
  }
  40% {
    inset-inline-start: 75lvw;
    inset-block-start: 75lvh;
  }
  60% {
    inset-inline-start: 10lvw;
    inset-block-start: 75lvh;
  }
  80% {
    inset-inline-start: 10lvw;
    inset-block-start: 10lvh;
  }
}