.submit {
  display: grid;
  place-items: center;

  width: 3.5rem;
  aspect-ratio: 1 / 1;

  border: 1px solid hsl(var(--primary-hsl) / 0.15);
  border-radius: 8px;

  padding: 0;

  color: hsl(0deg 0% 100% / 0.75);
  background-color: hsl(var(--primary-hsl) / 0.1);

  overflow: hidden;

  transition: background-color 200ms;
}

.submit:hover {
  background-color: hsl(var(--primary-hsl) / 0.2);
  cursor: pointer;
}

.searchIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.workingIcon {
  width: 1.25rem;
  height: 1.25rem;

  animation: spin 2s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg) }
}
